{{/*gotype:github.com/gofu/gomon/http/indexhandler.Data*/}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoMon</title>
</head>
<body>
<h1>GoMon</h1>
<p>Monitor running goroutines on <a href="{{.ProfilerSource}}" rel="noopener">{{.ProfilerSource}}</a></p>
<ul>
    {{range .Links}}
        <li><a href="{{.HREF}}">{{.Text}}</a> - {{.Description}}</li>
    {{end}}
</ul>
</body>
</html>